body {
  padding-top: 60px;
}
.waves-effect.waves-white .waves-ripple {
  /* The alpha value allows the text and background color
   of the button to still show through. */
  background-color: rgba(255, 255, 255, 0.65);
}
@media (max-width: 800px) {
  .dropdown-menu {
    height: 200px;
    overflow-y: auto;
  }
}
.btn:hover {
  color: white;
}
.btn.nebraska {
  background-color: rgba(227, 25, 55, 1);
}
.btn.iowa {
  background-color: rgba(255, 205, 0, 1);
}
.btn.wisconsin {
  background-color: rgba(197, 5, 12, 1);
}
.btn.ohio-state {
  background-color: rgba(187, 0, 0, 1);
}
.btn.michigan {
  background-color: rgba(0, 39, 76, 1);
}
.btn.indiana {
  background-color: rgba(153, 0, 0, 1);
}
.btn.michigan-state {
  background-color: rgba(24, 69, 59, 1);
}
.btn.illinois {
  background-color: rgba(232, 74, 39, 1);
}
.btn.maryland {
  background-color: rgba(224, 58, 62, 1);
}
.btn.purdue {
  background-color: rgba(206, 184, 136, 1);
}
.btn.rutgers {
  background-color: rgba(204, 0, 51, 1);
}
.btn.northwestern {
  background-color: rgba(78, 42, 132, 1);
}
.btn.minnesota {
  background-color: rgba(122, 0, 25, 1);
}
.btn.penn-state {
  background-color: rgba(9, 49, 98, 1);
}
.btn.boston-college {
  background-color: rgba(115, 0, 10, 1);
}
.btn.clemson {
  background-color: rgba(245, 102, 0, 1);
}
.btn.duke {
  background-color: rgba(0, 26, 87, 1);
}
.btn.florida-state {
  background-color: rgba(120, 47, 64, 1);
}
.btn.georgia-tech {
  background-color: rgba(179, 163, 105, 1);
}
.btn.louisville {
  background-color: rgba(227, 27, 35, 1);
}
.btn.miami-fl {
  background-color: rgba(244, 115, 33, 1);
}
.btn.north-carolina {
  background-color: rgba(123, 175, 212, 1);
}
.btn.north-carolina-state {
  background-color: rgba(204, 0, 0, 1);
}
.btn.notre-dame {
  background-color: rgba(12, 35, 64, 1);
}
.btn.pittsburgh {
  background-color: rgba(28, 41, 87, 1);
}
.btn.syracuse {
  background-color: rgba(212, 69, 0, 1);
}
.btn.virginia {
  background-color: rgba(35, 45, 75, 1);
}
.btn.virginia-tech {
  background-color: rgba(106, 44, 62, 1);
}
.btn.wake-forest {
  background-color: rgba(167, 128, 49, 1);
}
.btn.iowa-state {
  background-color: rgba(200, 16, 46, 1);
}
.btn.kansas {
  background-color: rgba(0, 81, 186, 1);
}
.btn.oklahoma-state {
  background-color: rgba(255, 124, 25, 1);
}
.btn.texas {
  background-color: rgba(191, 87, 0, 1);
}
.btn.west-virginia {
  background-color: rgba(0, 40, 85, 1);
}
.btn.texas-tech {
  background-color: rgba(204, 0, 0, 1);
}
.btn.texas-christian {
  background-color: rgba(77, 25, 121, 1);
}
.btn.oklahoma {
  background-color: rgba(132, 23, 25, 1);
}
.btn.kansas-state {
  background-color: rgba(81, 40, 136, 1);
}
.btn.baylor {
  background-color: rgba(29, 60, 52, 1);
}
.btn.arizona {
  background-color: rgba(204, 0, 51, 1);
}
.btn.colorado {
  background-color: rgba(207, 184, 124, 1);
}
.btn.oregon {
  background-color: rgba(18, 71, 52, 1);
}
.btn.ucla {
  background-color: rgba(45, 104, 196, 1);
}
.btn.southern-california {
  background-color: rgba(153, 27, 30, 1);
}
.btn.washington-state {
  background-color: rgba(152, 30, 50, 1);
}
.btn.arizona-state {
  background-color: rgba(140, 29, 64, 1);
}
.btn.california {
  background-color: rgba(4, 30, 66, 1);
}
.btn.oregon-state {
  background-color: rgba(220, 68, 5, 1);
}
.btn.stanford {
  background-color: rgba(140, 21, 21, 1);
}
.btn.utah {
  background-color: rgba(204, 0, 0, 1);
}
.btn.washington {
  background-color: rgba(51, 0, 111, 1);
}
.btn.alabama {
  background-color: rgba(158, 27, 50, 1);
}
.btn.auburn {
  background-color: rgba(12, 35, 64, 1);
}
.btn.georgia {
  background-color: rgba(186, 12, 47, 1);
}
.btn.louisiana-state {
  background-color: rgba(70, 29, 124, 1);
}
.btn.mississippi-state {
  background-color: rgba(102, 0, 0, 1);
}
.btn.south-carolina {
  background-color: rgba(115, 0, 10, 1);
}
.btn.texas-am {
  background-color: rgba(80, 0, 0, 1);
}
.btn.arkansas {
  background-color: rgba(157, 34, 53, 1);
}
.btn.florida {
  background-color: rgba(0, 33, 165, 1);
}
.btn.kentucky {
  background-color: rgba(0, 51, 160, 1);
}
.btn.mississippi {
  background-color: rgba(200, 16, 46, 1);
}
.btn.missouri {
  background-color: rgba(0, 0, 0, 1);
}
.btn.tennessee {
  background-color: rgba(255, 130, 0, 1);
}
.btn.vanderbilt {
  background-color: rgba(0, 0, 0, 1);
}
