body {
  padding-top: 60px;
}
.waves-effect.waves-white .waves-ripple {
  /* The alpha value allows the text and background color
   of the button to still show through. */
  background-color: rgba(255, 255, 255, 0.65);
}
@media (max-width: 500px) {
  .dropdown-menu {
    height: 200px;
    overflow-y: auto;
  }
}
.btn:hover {
  color: white;
}
.btn.nebraska {
  background-color: rgba(227, 25, 55, 1);
}
.btn.iowa {
  background-color: rgba(255, 205, 0, 1);
}
.btn.wisconsin {
  background-color: rgba(197, 5, 12, 1);
}
.btn.ohio-state {
  background-color: rgba(187, 0, 0, 1);
}
.btn.michigan {
  background-color: rgba(0, 39, 76, 1);
}
.btn.indiana {
  background-color: rgba(153, 0, 0, 1);
}
.btn.michigan-state {
  background-color: rgba(24, 69, 59, 1);
}
.btn.illinois {
  background-color: rgba(232, 74, 39, 1);
}
.btn.maryland {
  background-color: rgba(224, 58, 62, 1);
}
.btn.purdue {
  background-color: rgba(206, 184, 136, 1);
}
.btn.rutgers {
  background-color: rgba(204, 0, 51, 1);
}
.btn.northwestern {
  background-color: rgba(78, 42, 132, 1);
}
.btn.minnesota {
  background-color: rgba(122, 0, 25, 1);
}
.btn.penn-state {
  background-color: rgba(9, 49, 98, 1);
}
